################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AwesomeBot/.vs/AwesomeBot
/AwesomeBot/obj/Debug
/AwesomeBot/obj
